



{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
   {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

        <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ asset('img/kijou.png') }}" id="icon" alt="User Icon" style="width: 70px" />
    </div>


    {% else %}

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ asset('img/kijou.png') }}" id="icon" alt="User Icon" style="width: 70px" />
    </div>

<!-- Login Form -->
    <form method="post">
        <input type="email" id="login" class="fadeIn second login-form" value="{{ last_username }}" name="email" placeholder="Mail" autofocus>

      <input type="password" id="inputPassword" class="fadeIn third login-form" name="password" autocomplete="current-password" placeholder="Mot de passe">

      <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

      <button type="submit" class="fadeIn fourth button-form">SE CONNECTER</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">S'inscire</a>
    </div>
    {% endif %}
    <!-- Tabs Titles -->

    
    

  </div>
</div>
{% endblock %}

