{% extends 'base.html.twig' %}

{% block title %}Animal

{% endblock %}

{% block body %}

	{% block stylesheets %}
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
	{% endblock %}

	<div class="container p-5 mt-2">

		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Vous souhaitez adopter un animal ?</h4>
			<p>
				Votre décision est mûrement réfléchie ? Remplissez ce formulaire pour établir un contact avec le refuge. Nous vous conseillons d’indiquer votre numéro de téléphone pour qu’on vous rappelle plus rapidement.
			</p>
		</div>

		{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

		<div class="container mt-4" style="width: 18rem;">

			<div class="card p-4">
				<form class="pl-4">
					<div class="row ">
						<div class="col-12 mt-2">
							<div>{{ form_label(form.firstname)}}</div>
							<div class="adopt-input">{{ form_widget(form.firstname)}}</div>
						</div>
						<div class="col-12 mt-2">

							<div>{{ form_label(form.lastname)}}</div>
							<div class="adopt-input">{{ form_widget(form.lastname)}}</div>
						</div>
						<div class="col-12 mt-2">
							<div>{{ form_label(form.adress)}}</div>
							<div class="adopt-input">{{ form_widget(form.adress)}}</div>
						</div>
						<div class="col-12 mt-2">
							<div>{{ form_label(form.city)}}</div>
							<div class="adopt-input">{{ form_widget(form.city)}}</div>
						</div>
						<div class="col-12 mt-2">
							<div>{{ form_label(form.zipcode)}}</div>
							<div class="adopt-input">{{ form_widget(form.zipcode)}}</div>
						</div>
						<div class="col-12 mt-2">
							<div>{{ form_label(form.mobile)}}</div>
							<div class="adopt-input">{{ form_widget(form.mobile)}}</div>
						</div>
						<div class="col-12 mt-2">
							<button type="submit" class="btn btn-success  btn-block mt-4">Valider</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{{ form_end(form) }}</div>
{% endblock %}
