{% extends 'base.html.twig' %}

{% block title %}Animal
{% endblock %}

{% block body %}
	<div class="container p-5 mt-2" style="width: 40rem;">
		<div class="card ">
			<img class="card-img-top" src={{ asset('img/animals/' ~ animal.path) }} alt={{ animal.name }}>

			<div class="card-body">
				<h5 class="card-title">
					{{ animal.name }}
					<span>
						{% if animal.gender %}
							<span class="badge bg-primary">Male</span>
						{% else %}
							<span class="badge bg-danger">Femelle</span>
						{% endif %}
					</span>
				</h5>
				<div class="card-text">Age :
					{{ animal.age }}
					ans</div>
				<div class="card-text">
					Poids :
					{{ animal.weight }}
					kg
				</div>

				<div class="mt-4">
					<a class="btn btn-light" href="{{ path('animal') }}" class="btn btn-light">Retour</a>
					{% if animal.adopt is empty %}
						<a href={{ path('animal_adopt', { id: animal.id } ) }} class="btn btn-success">Demande d'adoption</a>
					{% endif %}
				</div>


			</div>
		</div>
	</div>


{% endblock %}
