{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <div class="container">    
        <div class="row justify-content-center m-4">
            <div class="col-auto">
                <div class="card" style="width: 40rem;">
                    <img style="max-width : 23em; max-height : 23em;" src={{ asset('img/animals/' ~ animal.path) }}  alt={{ animal.name }}>
                    <div class="card-body">
                        <h5 class="card-title">{{ animal.name }}</h5>
                        <p class="card-text">{{ animal.age }} ans</p>
                        <p class="card-text">{{ animal.type.name }}</p>
                        <p class="card-text">{{ animal.weight }}kg</p>
                        
                        {% if animal.gender %}
                                <p class="card-text">Male</p>
                            {% else %}
                                <p class="card-text">Femelle</p>
                            {% endif %}

                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a href="{{ path('animal') }}" class="btn btn-primary">Retour</a>
                            </div>

                            <div class="col">
                            {% if animal.adopt is empty %}
                                <a href={{ path('animal_adopt', { id: animal.id }) }} class="btn btn-success">Demande d'adoption</a>
                            {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}