{% extends 'base.html.twig' %}

{% block title %}Liste des articles de blog{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row justify-content-center m-4">
					<div class="col-md-8">
						<h3>Liste des articles de blog</h4>
					</div>
				</div>
				{% for blog in blogs %}
					<div class="row justify-content-center m-4">
						<div class="col-md-8">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-9">
													<h5 class="card-title">
														<a href="{{path('show_blog', {'id':  blog.id} ) }}">
															{{ blog.title }}
														</a>
													</h5>
													Par <b>{{ blog.writted_by }}</b>
												</div>
												<div class="col-md-3">
													Publié le <span class="h6">{{ blog.datecreated|date("m/d/Y") }}</span>
												</div>
												<div class="col-md-12">
													<p class="my-md-2">{{ blog.summary }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
